@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-pagination-bullet-active {
  background-color: #173e62 !important;
}

.swiper-slide-content {
  transition: transform 0.3s ease-in-out;
}

/* .swiper-slide {
  position: relative;
  width: var(--swiper-width);
  opacity: 0.7;
  transform: scale(0.74);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 0.4285rem;
} */

/* .swiper-backface-hidden .swiper-slide {
  transform: scale(0.74) translateZ(0);
}
.swiper-slide-active {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}
.swiper-backface-hidden .swiper-slide.swiper-slide-active {
  transform: scale(1) translateZ(0) !important;
} */

.headingFont {
  font-family: var(--font-heading), sans-serif !important;
}

.paragraphFont {
  font-family: var(--font-paragraph), sans-serif !important;
}

.buttonFont {
  font-family: var(--font-button), sans-serif !important;
}
.playfairFont {
  font-family: var(--font-playfair), sans-serif !important;
}
